<!-- JAI SHREE RAM -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/css/fonts.css">
    <link rel="stylesheet" href="/public/assets/css/login.css">
    <title>Login | Admin Panel</title>
</head>
<body>
    

    <main>

        <div class="vignette"></div>

        <div class="container dropShadow">
            <div class="logo">
                <img src="/public/assets/img/postAssets/logo_group.png" alt="">
            </div>
            <form action="/login" method="post">
                <div class="formSec">
                    <input type="file" name="smartcard" id="smartcard">
                </div>
                <div class="formSec micContainer">
                    <div class="mic">
                        <img src="/public/assets/img/loginAssets/mic-on.svg" alt="">
                    </div>
                    <h5>Say , "Jai Shree Ram"</h5>
                </div>
                <div class="formSec">
                    <div class="btns">
                        <button type="submit">Login .</button>
                        <p>I don't have my Smartcard!</p>
                    </div>
                </div>
            </form>
        </div>




    </main>




    <script src="/public/assets/js/login.js"></script>

</body>
</html>